* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 2rem);
  margin: 2rem 0;
}

header img {
  display: block;
  width: 150px;
  height: 150px;
  margin: 0 auto;
}

/* Set the width and height of social media icons */
.social-icons img {
  width: 30px;
  height: 30px;
}

/* Center social media icons horizontally */
.social-icons {
  display: flex;
  justify-content: center;
}

nav, main, footer {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin-top: 2rem;
}

nav li {
  margin: 0 1rem;
}

nav a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

main {
  text-align: center;
  margin-top: 2rem;
}

footer {
  background-color: #333;
  color: white;
  padding: 1rem;
  text-align: center;
}
