header img {
    display: block;
    max-width: 10%;
    margin: 0 auto;
}

/* Set the width and height of social media icons */
.social-icons img {
    width: 30px;
    height: 30px;
}

/* Center social media icons horizontally */
.social-icons {
    display: flex;
    justify-content: center;
}

